#title{

    text-align: center;
    font-size: 40px;
    color: aqua;
    background-color: coral;

}

.oredered-list .member{

    color: green;
    background-color: black;
    font-size: 20px;

}

#steps{

    font-weight: bold;
    color: darkgreen;
}

#recipe-title{

text-align: center;
font-size: 30px;


}